header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  background: #f1f1f12e;
  gap: 24px;
}
.header ul{
  list-style-type: none;
}
.image {
  width: 8%;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 92%;
  list-style-type: none;
  text-decoration: none;
}
.menu li a {
  color: #000000;
  text-decoration: none;
}

.buttons {
  display: flex;
  gap: 24px;
}

.signBut {
  display: block;
  position: relative;
  padding: 0 35px;
  max-width: 800px;
  background-color: transparent;
  border: 1px solid transparent;
  height: fit-content;
}

.signBut::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 15px;
  border: 1px solid transparent;
  background: linear-gradient(to right, #ed329c 100%, #6b28c2 50%);
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.signBut .text {
  margin: 0;
  font-weight: 500 !important;
  font-size: 18px;
  color: #3c1272;
  font-weight: 400;
  margin: 11px 0;
}

.startBut {
  height: fit-content;
  display: block;
  position: relative;
  padding: 0 12px;
  max-width: 800px;
  background: linear-gradient(to right, #ed329c 0%, #6b28c2 100%);
  border-radius: 10px;
  border: 0px solid transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
.startBut .text {
  font-size: 18px;
  font-weight: 500;
  margin: 11px 0;
}
